{% include 'layout.html' %}

<div class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Movies</h1>

        {% if user.role == 'admin' %}
        <div class="mb-3">
            <a href="/movies/movie-create" class="btn btn-success">Create Movie</a>
        </div>
        {% endif %}

        <p>Click on the movie to see available schedule</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    {% if user.role == 'admin' %}
                    <th>ID</th>
                    {% endif %}
                    <th>Name</th>
                    <th>Poster</th>
                    <th>Description</th>
                    {% if user.role == 'admin' %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr class="movieRow" data-movie-id="{{ movie.id }}">
                    {% if user.role == 'admin' %}
                    <td>{{ movie.id }}</td>
                    {% endif %}
                    <td>{{ movie.name }}</td>
                    <td><img src="{{ movie.poster }}" alt="{{ movie.name }}" style="width: 50px; height: auto;">
                    </td>
                    <td>{{ movie.description or 'N/A' }}</td>
                    {% if user.role == 'admin' %}
                    <td>
                        <a href="/movies/{{ movie.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
                        <button data-movie-id="{{ movie.id }}" class="deleteMovie btn btn-sm btn-danger">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                <tr class="scheduleRow" id="schedule-{{ movie.id }}" style="display:none;">
                    <td colspan="5">
                        <div id="schedules-list-{{ movie.id }}" class="schedules-list">
                            <h5>Schedules for {{ movie.name }}:</h5>
                            {% if movie.schedules %}
                            <ul>
                                {% for schedule in movie.schedules %}
                                <li><strong>Room:</strong> {{ schedule.room_id }} |
                                    <strong>Start Time:</strong> {{ schedule.start_time }} |
                                    <strong>End Time:</strong> {{ schedule.end_time }} |

                                    <a href="/reservations/reserve/{{ schedule.id }}"
                                        class=" reserve btn btn-sm btn-success">Reserve</a> |

                                    {% if user.role == 'admin' %}
                                    <a href="/schedules/{{ schedule.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
                                    |
                                    <button data-schedule-id="{{ schedule.id }}"
                                        class="deleteSchedule btn btn-sm btn-danger">Delete</button>
                                    {% endif %}
                                </li>
                                <hr>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No schedules available for this movie.</p>
                            {% endif %}
                            {% if user and user.role == 'admin' %}
                            <a class="btn btn-success" href="/schedules/create-page">Create Schedule</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>