{% include 'layout.html' %}

<div class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Rooms</h1>

        {% if user.role == 'admin' %}
        <div class="mb-3">
            <a href="/rooms/room-create" class="btn btn-success">Create Room</a>
        </div>
        {% endif %}


        <table class="table table-striped">
            <thead>
                <tr>
                    {% if user.role == 'admin' %}
                    <th>ID</th>
                    {% endif %}
                    <th>Name</th>
                    <th>Seats</th>
                    {% if user.role == 'admin' %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr class="roomRow" data-room-id="{{ room.id }}">
                    {% if user.role == 'admin' %}
                    <td>{{ room.id }}</td>
                    {% endif %}
                    <td>{{ room.name }}</td>
                    <td>{{ room.rows }} x {{room.columns}}</td>
                    </td>
                    {% if user.role == 'admin' %}
                    <td>
                        <a href="/rooms/{{ room.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
                        <button data-room-id="{{ room.id }}" class="deleteroom btn btn-sm btn-danger">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                <tr class="scheduleRow" id="schedule-{{ room.id }}" style="display:none;">
                    <td colspan="4">
                        <div id="schedules-list-{{ room.id }}" class="schedules-list">
                            <h5>Schedules for {{ room.name }}:</h5>
                            {% if room.schedules %}
                            <ul>
                                {% for schedule in room.schedules %}
                                <li>
                                    <strong>Movie:</strong> {{ schedule.movie.name }} |
                                    <strong>Start Time:</strong> {{ schedule.start_time }} |
                                    <strong>End Time:</strong> {{ schedule.end_time }}

                                    {% if user.role == 'admin' %}
                                    <a href="/schedules/{{ schedule.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
                                    |
                                    <button data-schedule-id="{{ schedule.id }}"
                                        class="deleteSchedule btn btn-sm btn-danger">Delete</button>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No schedules available for this room.</p>
                            {% endif %}
                            {% if user and user.role == 'admin' %}
                            <a class="btn btn-success" href="/schedules/create-page">Create Schedule</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>