{% include 'layout.html' %}

<div class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Rooms</h1>

        {% if user.role == 'admin' %}
        <div class="mb-3">
            <a href="/rooms/room-create" class="btn btn-primary">Create Room</a>
        </div>
        {% endif %}


        <table class="table table-striped">
            <thead>
                <tr>
                    {% if user.role == 'admin' %}
                    <th>ID</th>
                    {% endif %}
                    <th>Name</th>
                    <th>Seats</th>
                    {% if user.role == 'admin' %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr class="roomRow" data-room-id="{{ room.id }}">
                    {% if user.role == 'admin' %}
                    <td>{{ room.id }}</td>
                    {% endif %}
                    <td>{{ room.name }}</td>
                    <td>{{ room.rows }} x {{room.columns}}</td>
                    </td>
                    {% if user.role == 'admin' %}
                    <td>
                        <a href="/rooms/{{ room.id }}/edit" class="btn btn-sm btn-warning">Edit</a>
                        <button data-room-id="{{ room.id }}" class="deleteroom btn btn-sm btn-danger">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>